workflows/01-Content-Researcher.json
{
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 6
                        }
                    ]
                }
            },
            "id": "536404f4-611d-4818-826e-47ce337cc8d6",
            "name": "Every 6 Hours",
            "position": [
                -2224,
                976
            ],
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3
        },
        {
            "parameters": {
                "url": "https://script.google.com/macros/s/AKfycbziKG3PXyyRKeRiP32ejHX0drhzbqOnjZqvC6t9rKQDP_9FUYJgxxwZHHjKbyaRkcVbqA/exec",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "subreddits",
                            "value": "IndianDankMemes,DesiMemes,CringeIndia"
                        },
                        {
                            "name": "limit",
                            "value": "50"
                        },
                        {
                            "name": "t",
                            "value": "day"
                        }
                    ]
                },
                "options": {
                    "timeout": 60000
                }
            },
            "id": "bfc77e98-045b-4917-b7dc-5481d1cf3e68",
            "name": "Fetch Indian Memes",
            "position": [
                -1968,
                624
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2
        },
        {
            "parameters": {
                "url": "https://script.google.com/macros/s/AKfycbziKG3PXyyRKeRiP32ejHX0drhzbqOnjZqvC6t9rKQDP_9FUYJgxxwZHHjKbyaRkcVbqA/exec",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "subreddits",
                            "value": "IndianTeenagers,IndiaSocial,JEENEETards,IndianBoysOnTinder"
                        },
                        {
                            "name": "limit",
                            "value": "50"
                        },
                        {
                            "name": "t",
                            "value": "day"
                        }
                    ]
                },
                "options": {
                    "timeout": 60000
                }
            },
            "id": "e09d1d53-57e0-4247-b3aa-a38435b796ec",
            "name": "Fetch Indian Social",
            "position": [
                -1968,
                800
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2
        },
        {
            "parameters": {
                "url": "https://script.google.com/macros/s/AKfycbziKG3PXyyRKeRiP32ejHX0drhzbqOnjZqvC6t9rKQDP_9FUYJgxxwZHHjKbyaRkcVbqA/exec",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "subreddits",
                            "value": "PublicFreakout,ActualPublicFreakouts,WatchPeopleDieInside"
                        },
                        {
                            "name": "limit",
                            "value": "50"
                        },
                        {
                            "name": "t",
                            "value": "day"
                        }
                    ]
                },
                "options": {
                    "timeout": 60000
                }
            },
            "id": "51bef4a5-94bc-4aa8-92ff-33d11735c5eb",
            "name": "Fetch Freakout",
            "position": [
                -1968,
                976
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2
        },
        {
            "parameters": {
                "url": "https://script.google.com/macros/s/AKfycbziKG3PXyyRKeRiP32ejHX0drhzbqOnjZqvC6t9rKQDP_9FUYJgxxwZHHjKbyaRkcVbqA/exec",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "subreddits",
                            "value": "therewasanattempt,IdiotsInCars,WhatCouldGoWrong"
                        },
                        {
                            "name": "limit",
                            "value": "50"
                        },
                        {
                            "name": "t",
                            "value": "day"
                        }
                    ]
                },
                "options": {
                    "timeout": 60000
                }
            },
            "id": "0440148f-edcb-40ea-97a0-7fe63ea637bb",
            "name": "Fetch Fails",
            "position": [
                -1968,
                1152
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2
        },
        {
            "parameters": {
                "url": "https://script.google.com/macros/s/AKfycbziKG3PXyyRKeRiP32ejHX0drhzbqOnjZqvC6t9rKQDP_9FUYJgxxwZHHjKbyaRkcVbqA/exec",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "subreddits",
                            "value": "Unexpected,ContagiousLaughter,AskIndia"
                        },
                        {
                            "name": "limit",
                            "value": "50"
                        },
                        {
                            "name": "t",
                            "value": "day"
                        }
                    ]
                },
                "options": {
                    "timeout": 60000
                }
            },
            "id": "4546e376-bc2e-43e0-8fda-f832e1cc04f4",
            "name": "Fetch Comedy",
            "position": [
                -1968,
                1344
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2
        },
        {
            "parameters": {
                "jsCode": "// Merge all Reddit API responses from 5 parallel fetch nodes into one array\nconst items = $input.all();\nconst allPosts = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Each fetch returns an array of posts\n  if (Array.isArray(data)) {\n    for (const post of data) {\n      allPosts.push({ json: post });\n    }\n  } else if (data.data && Array.isArray(data.data)) {\n    for (const post of data.data) {\n      allPosts.push({ json: post });\n    }\n  } else if (data.id) {\n    // Already individual items from n8n auto-split\n    allPosts.push({ json: data });\n  }\n}\n\nconsole.log(`Merged ${allPosts.length} posts from all subreddit groups`);\nreturn allPosts.length > 0 ? allPosts : [{ json: { error: 'no posts found' } }];"
            },
            "id": "f115438a-5385-4a34-b4bc-a33bb9e8d0ea",
            "name": "Merge & Parse All",
            "position": [
                -1552,
                816
            ],
            "type": "n8n-nodes-base.code",
            "typeVersion": 2
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1Px2bxsU__jS1518a8gGzrW279i18WtCIHcNXkcFNkKw",
                    "mode": "list",
                    "cachedResultName": "Original Meme Factory",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Px2bxsU__jS1518a8gGzrW279i18WtCIHcNXkcFNkKw/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "Content Pool",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Px2bxsU__jS1518a8gGzrW279i18WtCIHcNXkcFNkKw/edit#gid=0"
                },
                "options": {}
            },
            "id": "101bc5ff-f1bb-45c9-a6f4-5cdb854ffabe",
            "name": "Get Existing IDs",
            "position": [
                -1680,
                1072
            ],
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "1gz3DofInpV64qih",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "mode": "combine",
                "advanced": true,
                "mergeByFields": {
                    "values": [
                        {
                            "field1": "url",
                            "field2": "URL"
                        }
                    ]
                },
                "joinMode": "keepNonMatches",
                "outputDataFrom": "input1",
                "options": {}
            },
            "id": "f80f5a4b-04f8-475b-853e-73ed431a9b5a",
            "name": "Remove Duplicates",
            "position": [
                -1424,
                976
            ],
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3
        },
        {
            "parameters": {
                "jsCode": "// Enrich VIDEO posts for the meme pipeline\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  const hasVideo = data.is_video === true || (data.video_url && data.video_url.trim() !== '');\n  if (!hasVideo) continue;\n  \n  const videoUrl = (data.video_url && data.video_url.trim()) || data.url || '';\n  let subreddit = data.subreddit || data.source || '';\n  if (!subreddit && data.url) {\n    const match = data.url.match(/r\\/([^/]+)/);\n    if (match) subreddit = match[1];\n  }\n  \n  results.push({\n    json: {\n      id: data.id || `meme_${Date.now()}_${Math.random().toString(36).substr(2, 6)}`,\n      title: data.title || '',\n      url: data.url || '',\n      video_url: videoUrl,\n      image_url: '',\n      content_type: 'video',\n      source: 'reddit',\n      subreddit: subreddit,\n      upvotes: data.upvotes || data.score || 0,\n      flair: data.flair || '',\n      download_status: 'pending',\n      queued_at: new Date().toISOString()\n    }\n  });\n}\n\nconsole.log(`Enriched ${results.length} video clips`);\nreturn results.length > 0 ? results : [{ json: { error: 'No video posts found' } }];"
            },
            "id": "e6db40d7-e178-45bf-8b99-175ac0dbb80c",
            "name": "Enrich Video Data",
            "position": [
                -1024,
                848
            ],
            "type": "n8n-nodes-base.code",
            "typeVersion": 2
        },
        {
            "parameters": {
                "maxItems": 15
            },
            "type": "n8n-nodes-base.limit",
            "typeVersion": 1,
            "position": [
                -816,
                848
            ],
            "id": "69f06c10-daeb-4c72-b1cf-f6f06e53befa",
            "name": "Limit Videos 15"
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "1Px2bxsU__jS1518a8gGzrW279i18WtCIHcNXkcFNkKw",
                    "mode": "list",
                    "cachedResultName": "Original Meme Factory",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Px2bxsU__jS1518a8gGzrW279i18WtCIHcNXkcFNkKw/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "Content Pool",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Px2bxsU__jS1518a8gGzrW279i18WtCIHcNXkcFNkKw/edit#gid=0"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "ID": "={{ $json.id }}",
                        "Title": "={{ $json.title }}",
                        "URL": "={{ $json.url }}",
                        "Video URL": "={{ $json.video_url }}",
                        "Source": "={{ $json.source }}",
                        "Subreddit": "={{ $json.subreddit }}",
                        "Upvotes": "={{ $json.upvotes }}",
                        "Flair": "={{ $json.flair }}",
                        "Download Status": "={{ $json.download_status }}",
                        "Queued At": "={{ $json.queued_at }}",
                        "Image URL": "={{ $json.image_url }}",
                        "Content Type": "={{ $json.content_type }}"
                    },
                    "matchingColumns": [
                        "ID"
                    ],
                    "schema": [
                        {
                            "id": "ID",
                            "displayName": "ID",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Title",
                            "displayName": "Title",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "URL",
                            "displayName": "URL",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Video URL",
                            "displayName": "Video URL",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Image URL",
                            "displayName": "Image URL",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Content Type",
                            "displayName": "Content Type",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Source",
                            "displayName": "Source",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Subreddit",
                            "displayName": "Subreddit",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Upvotes",
                            "displayName": "Upvotes",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Flair",
                            "displayName": "Flair",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Download Status",
                            "displayName": "Download Status",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Download URL",
                            "displayName": "Download URL",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Queued At",
                            "displayName": "Queued At",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Processed At",
                            "displayName": "Processed At",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "id": "1089df99-3a5c-4588-9382-0bdb41f9571c",
            "name": "Log to Content Pool",
            "position": [
                -608,
                1200
            ],
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "1gz3DofInpV64qih",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "chatId": "6544741824",
                "text": "=📥 *ORIGINAL MEME FACTORY - Clips Collected*\n\n✅ Found {{ $input.all().length }} new raw clips from 16 subreddits\n⏰ {{ $now.format('MMM DD, HH:mm') }}\n\n🎬 Ready for AI processing!",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "id": "e353666c-d673-4ea5-86ae-2a174179740e",
            "name": "Notify Telegram",
            "position": [
                -416,
                1200
            ],
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "webhookId": "summary-webhook",
            "executeOnce": true,
            "credentials": {
                "telegramApi": {
                    "id": "WWp6Bog5DHCzeIm7",
                    "name": "Telegram Bot"
                }
            }
        },
        {
            "parameters": {
                "content": "## 📥 Original Meme Factory — Content Researcher\n\n5 parallel fetch nodes scrape 16 subreddits (Indian + global).\nResults merge → deduplicate → filter videos → enrich → log to sheet.",
                "height": 1028,
                "width": 2096,
                "color": 5
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -2288,
                480
            ],
            "typeVersion": 1,
            "id": "b397efd8-28f7-4165-8cee-b8d994b58ec9",
            "name": "Sticky Note"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "combinator": "and",
                                "conditions": [
                                    {
                                        "id": "route-video",
                                        "leftValue": "={{ $json.is_video }}",
                                        "operator": {
                                            "operation": "true",
                                            "singleValue": true,
                                            "type": "boolean"
                                        }
                                    }
                                ],
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                }
                            },
                            "renameOutput": true,
                            "outputKey": "Video"
                        },
                        {
                            "conditions": {
                                "combinator": "and",
                                "conditions": [
                                    {
                                        "id": "route-image",
                                        "leftValue": "={{ $json.is_image }}",
                                        "operator": {
                                            "operation": "true",
                                            "singleValue": true,
                                            "type": "boolean"
                                        }
                                    }
                                ],
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                }
                            },
                            "renameOutput": true,
                            "outputKey": "Image"
                        }
                    ]
                },
                "options": {
                    "fallbackOutput": "extra"
                }
            },
            "id": "63055ba7-cf13-4e95-a90f-2cf79a91ba51",
            "name": "Content Type Router",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [
                -1248,
                960
            ]
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\nconst results = [];\nfor (const item of items) {\n  const data = item.json;\n  const imageUrl = data.image_url || '';\n  if (!imageUrl) continue;\n  let subreddit = data.subreddit || data.source || '';\n  results.push({\n    json: {\n      id: data.id || `img_${Date.now()}_${Math.random().toString(36).substr(2, 6)}`,\n      title: data.title || '',\n      url: data.url || '',\n      video_url: '',\n      image_url: imageUrl,\n      content_type: 'image',\n      source: 'reddit',\n      subreddit: subreddit,\n      upvotes: data.upvotes || data.score || 0,\n      flair: data.flair || '',\n      download_status: 'pending',\n      queued_at: new Date().toISOString()\n    }\n  });\n}\nreturn results.length > 0 ? results : [{ json: { error: 'No image posts' } }];"
            },
            "id": "a1b2c3d4-img-enrich-001",
            "name": "Enrich Image Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1024,
                1088
            ]
        },
        {
            "parameters": {
                "maxItems": 10
            },
            "id": "a1b2c3d4-img-limit-001",
            "name": "Limit Images 10",
            "type": "n8n-nodes-base.limit",
            "typeVersion": 1,
            "position": [
                -816,
                1088
            ]
        },
        {
            "parameters": {},
            "id": "a1b2c3d4-merge-all-001",
            "name": "Merge Videos & Images",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                -608,
                960
            ]
        },
        {
            "parameters": {
                "numberInputs": 5
            },
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                -1680,
                768
            ],
            "id": "d3219a1b-a4ce-4678-a8e2-a0e2679c55de",
            "name": "Merge"
        },
        {
            "parameters": {
                "type": "random"
            },
            "type": "n8n-nodes-base.sort",
            "typeVersion": 1,
            "position": [
                -416,
                960
            ],
            "id": "c7e633d6-2b36-4160-828d-85f403ae466c",
            "name": "Sort"
        }
    ],
    "connections": {
        "Every 6 Hours": {
            "main": [
                [
                    {
                        "node": "Fetch Indian Memes",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Fetch Indian Social",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Fetch Freakout",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Fetch Fails",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Fetch Comedy",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Get Existing IDs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Indian Memes": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Indian Social": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Fetch Freakout": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 2
                    }
                ]
            ]
        },
        "Fetch Fails": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 3
                    }
                ]
            ]
        },
        "Fetch Comedy": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 4
                    }
                ]
            ]
        },
        "Merge & Parse All": {
            "main": [
                [
                    {
                        "node": "Remove Duplicates",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Existing IDs": {
            "main": [
                [
                    {
                        "node": "Remove Duplicates",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Remove Duplicates": {
            "main": [
                [
                    {
                        "node": "Content Type Router",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enrich Video Data": {
            "main": [
                [
                    {
                        "node": "Limit Videos 15",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Limit Videos 15": {
            "main": [
                [
                    {
                        "node": "Merge Videos & Images",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log to Content Pool": {
            "main": [
                [
                    {
                        "node": "Notify Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Notify Telegram": {
            "main": [
                []
            ]
        },
        "Content Type Router": {
            "main": [
                [
                    {
                        "node": "Enrich Video Data",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Enrich Image Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enrich Image Data": {
            "main": [
                [
                    {
                        "node": "Limit Images 10",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Limit Images 10": {
            "main": [
                [
                    {
                        "node": "Merge Videos & Images",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge Videos & Images": {
            "main": [
                [
                    {
                        "node": "Sort",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge": {
            "main": [
                [
                    {
                        "node": "Merge & Parse All",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sort": {
            "main": [
                [
                    {
                        "node": "Log to Content Pool",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "260ed10ca7527eef1744f6416cc66abd26c4fd51c36b77a8b51c7f7491d8e75e"
    }
}