workflows/02-Meme-Creator.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "original-meme-callback",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "23464a65-da6f-4f8c-99f4-80dd59a58e74",
            "name": "GitHub Actions Callback",
            "position": [
                32,
                1136
            ],
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "webhookId": "original-meme-callback-id"
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1Px2bxsU__jS1518a8gGzrW279i18WtCIHcNXkcFNkKw",
                    "mode": "list",
                    "cachedResultName": "Original Meme Factory",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Px2bxsU__jS1518a8gGzrW279i18WtCIHcNXkcFNkKw/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "Content Pool",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Px2bxsU__jS1518a8gGzrW279i18WtCIHcNXkcFNkKw/edit#gid=0"
                },
                "filtersUI": {
                    "values": [
                        {
                            "lookupColumn": "Download Status",
                            "lookupValue": "pending"
                        }
                    ]
                },
                "options": {}
            },
            "id": "161c51e2-5c65-4ea8-a927-0db2bc877afc",
            "name": "Get Pending Clips",
            "position": [
                240,
                720
            ],
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "1gz3DofInpV64qih",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "has-id",
                            "leftValue": "={{ $json.ID }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2.3,
            "position": [
                464,
                720
            ],
            "id": "70e3931b-0169-4d8e-8993-74c6d2dd34a9",
            "name": "Has Pending Clips?"
        },
        {
            "parameters": {
                "maxItems": 2
            },
            "type": "n8n-nodes-base.limit",
            "typeVersion": 1,
            "position": [
                688,
                720
            ],
            "id": "746cb3a7-a47b-4604-9d20-4b6f1025da8c",
            "name": "Take 1 Clip"
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "1Px2bxsU__jS1518a8gGzrW279i18WtCIHcNXkcFNkKw",
                    "mode": "list",
                    "cachedResultName": "Original Meme Factory",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Px2bxsU__jS1518a8gGzrW279i18WtCIHcNXkcFNkKw/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "Content Pool"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Download Status": "processing",
                        "row_number": "={{ $json.row_number }}"
                    },
                    "matchingColumns": [
                        "row_number"
                    ],
                    "schema": [
                        {
                            "id": "ID",
                            "displayName": "ID",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Title",
                            "displayName": "Title",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "URL",
                            "displayName": "URL",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Video URL",
                            "displayName": "Video URL",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Image URL",
                            "displayName": "Image URL",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Content Type",
                            "displayName": "Content Type",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Source",
                            "displayName": "Source",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Subreddit",
                            "displayName": "Subreddit",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Upvotes",
                            "displayName": "Upvotes",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Flair",
                            "displayName": "Flair",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Download Status",
                            "displayName": "Download Status",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Download URL",
                            "displayName": "Download URL",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Queued At",
                            "displayName": "Queued At",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Processed At",
                            "displayName": "Processed At",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "row_number",
                            "displayName": "row_number",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true,
                            "readOnly": true,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "id": "cd0662ed-b5f0-4351-9872-360b88955f93",
            "name": "Mark as Processing",
            "position": [
                896,
                720
            ],
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "1gz3DofInpV64qih",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Process the callback from GitHub Actions (supports both video + image)\nconst body = $input.item.json.body;\n\nconst status = body.status; // 'ready', 'skipped', or 'failed'\nconst contentType = body.content_type || (body.video_id ? 'video' : 'image');\nconst itemId = body.video_id || body.image_id || '';\nconst downloadUrl = body.download_url || '';\nconst caption = body.caption || '';\nconst error = body.error || '';\nconst reason = body.reason || '';\n\nreturn {\n  json: {\n    item_id: itemId,\n    content_type: contentType,\n    status: status,\n    download_url: downloadUrl,\n    caption: caption,\n    error: error,\n    reason: reason,\n    meme_data: body.meme_data || {},\n    processed_at: new Date().toISOString()\n  }\n};"
            },
            "id": "5f795d62-2a12-48e9-9265-f4c9c17c65ef",
            "name": "Parse Callback",
            "position": [
                256,
                1136
            ],
            "type": "n8n-nodes-base.code",
            "typeVersion": 2
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "is-ready",
                            "leftValue": "={{ $json.status }}",
                            "rightValue": "ready",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                464,
                1136
            ],
            "id": "9b4cd290-3192-4aaf-86e0-6ac10372b59c",
            "name": "Is Ready?"
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "1Px2bxsU__jS1518a8gGzrW279i18WtCIHcNXkcFNkKw",
                    "mode": "list",
                    "cachedResultName": "Original Meme Factory",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Px2bxsU__jS1518a8gGzrW279i18WtCIHcNXkcFNkKw/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "Content Pool"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "ID": "={{ $json.name }}",
                        "Download Status": "ready",
                        "Download URL": "={{ $json.webViewLink }}",
                        "Processed At": "={{ $('Parse Callback').item.json.processed_at }}",
                        "row_number": 0
                    },
                    "matchingColumns": [
                        "ID"
                    ],
                    "schema": [
                        {
                            "id": "ID",
                            "displayName": "ID",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Title",
                            "displayName": "Title",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "URL",
                            "displayName": "URL",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Video URL",
                            "displayName": "Video URL",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Image URL",
                            "displayName": "Image URL",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Content Type",
                            "displayName": "Content Type",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Source",
                            "displayName": "Source",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Subreddit",
                            "displayName": "Subreddit",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Upvotes",
                            "displayName": "Upvotes",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Flair",
                            "displayName": "Flair",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Download Status",
                            "displayName": "Download Status",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Download URL",
                            "displayName": "Download URL",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Queued At",
                            "displayName": "Queued At",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Processed At",
                            "displayName": "Processed At",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "row_number",
                            "displayName": "row_number",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true,
                            "readOnly": true,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "id": "9465f512-4fb2-4dd1-b864-584e101dc847",
            "name": "Update Sheet (Success)",
            "position": [
                1056,
                1040
            ],
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "1gz3DofInpV64qih",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "1Px2bxsU__jS1518a8gGzrW279i18WtCIHcNXkcFNkKw",
                    "mode": "list",
                    "cachedResultName": "Original Meme Factory",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Px2bxsU__jS1518a8gGzrW279i18WtCIHcNXkcFNkKw/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 919502662,
                    "mode": "list",
                    "cachedResultName": "Publishing Queue",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Px2bxsU__jS1518a8gGzrW279i18WtCIHcNXkcFNkKw/edit#gid=919502662"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "ID": "={{ $('Parse Callback').item.json.item_id }}",
                        "Caption": "={{ $('Parse Callback').item.json.meme_data.caption || $('Parse Callback').item.json.caption }}",
                        "Status": "={{ $('Parse Callback').item.json.status }}",
                        "Download URL": "={{ $('Upload file').item.json.webViewLink }}",
                        "Title": "={{ $('Parse Callback').item.json.meme_data.top_text || '' }}",
                        "Content Type": "={{ $('Parse Callback').item.json.content_type }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "ID",
                            "displayName": "ID",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Title",
                            "displayName": "Title",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Content Type",
                            "displayName": "Content Type",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Download URL",
                            "displayName": "Download URL",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Caption",
                            "displayName": "Caption",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Status",
                            "displayName": "Status",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Instagram Post ID",
                            "displayName": "Instagram Post ID",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "PostedAt",
                            "displayName": "PostedAt",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "id": "066aad1f-5404-419a-848f-4e15f6ee53d1",
            "name": "Add to Publishing Queue",
            "position": [
                1248,
                1040
            ],
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "1gz3DofInpV64qih",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "1Px2bxsU__jS1518a8gGzrW279i18WtCIHcNXkcFNkKw",
                    "mode": "list",
                    "cachedResultName": "Original Meme Factory",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Px2bxsU__jS1518a8gGzrW279i18WtCIHcNXkcFNkKw/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "Content Pool"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "ID": "={{ $json.item_id }}",
                        "Download Status": "={{ $json.status }}",
                        "Processed At": "={{ $json.processed_at }}",
                        "row_number": 0
                    },
                    "matchingColumns": [
                        "ID"
                    ],
                    "schema": [
                        {
                            "id": "ID",
                            "displayName": "ID",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Title",
                            "displayName": "Title",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "URL",
                            "displayName": "URL",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Video URL",
                            "displayName": "Video URL",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Source",
                            "displayName": "Source",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Subreddit",
                            "displayName": "Subreddit",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Upvotes",
                            "displayName": "Upvotes",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Flair",
                            "displayName": "Flair",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Download Status",
                            "displayName": "Download Status",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Download URL",
                            "displayName": "Download URL",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Queued At",
                            "displayName": "Queued At",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Processed At",
                            "displayName": "Processed At",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "row_number",
                            "displayName": "row_number",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true,
                            "readOnly": true,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "id": "b6a95308-36cf-4e40-90d3-a036f62a8193",
            "name": "Update Sheet (Failed/Skipped)",
            "position": [
                960,
                1248
            ],
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "1gz3DofInpV64qih",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "chatId": "6544741824",
                "text": "=🤖 *ORIGINAL MEME FACTORY*\n\n📦 Type: {{ $('Parse Callback').item.json.content_type }}\n🟡 Status: {{ $('Parse Callback').item.json.status }}\n📋 ID: {{ $('Parse Callback').item.json.item_id }}\n⚠️ Reason: {{ $('Parse Callback').item.json.reason }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "id": "6a0c991b-88be-47d0-ab03-d5a4190a7d8a",
            "name": "Notify Result",
            "position": [
                1472,
                1120
            ],
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "webhookId": "notify-result-webhook",
            "credentials": {
                "telegramApi": {
                    "id": "WWp6Bog5DHCzeIm7",
                    "name": "Telegram Bot"
                }
            }
        },
        {
            "parameters": {
                "content": "## 🎬 Original Meme Factory — Meme Creator\n\n**Schedule Path:** Every 15 min → Get pending clip → Mark processing → Trigger GitHub Actions\n**Callback Path:** GitHub Actions POST → Parse result → Update sheet + queue → Notify",
                "height": 900,
                "width": 1688,
                "color": 3
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -48,
                544
            ],
            "typeVersion": 1,
            "id": "d86d5290-5935-44b2-9eb8-c93449a4ec58",
            "name": "Sticky Note1"
        },
        {
            "parameters": {
                "name": "={{ $('Parse Callback').item.json.item_id }}",
                "driveId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "My Drive"
                },
                "folderId": {
                    "__rl": true,
                    "value": "1Kd8khIQztC0_wP_BAdTwETqVgvYJMi7W",
                    "mode": "list",
                    "cachedResultName": "Final Memes",
                    "cachedResultUrl": "https://drive.google.com/drive/folders/1Kd8khIQztC0_wP_BAdTwETqVgvYJMi7W"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                864,
                1040
            ],
            "id": "4be60e87-9e84-4d63-8c0f-680ee2eab3cd",
            "name": "Upload file",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "M1byh5wt23HVBgWj",
                    "name": "Pages Reels"
                }
            }
        },
        {
            "parameters": {
                "url": "={{ $json.download_url }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                672,
                1040
            ],
            "id": "b4918e80-94ac-418e-b400-2fbabd8cfa18",
            "name": "HTTP Request"
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 30
                        }
                    ]
                }
            },
            "id": "5df1acc9-67a6-406e-84b8-bbed12aaecd3",
            "name": "Every 30 Minutes",
            "position": [
                32,
                720
            ],
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.github.com/repos/VikashMeena777/Test/dispatches",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"event_type\": \"process-image\",\n  \"client_payload\": {\n    \"image_url\": {{ JSON.stringify($('Take 1 Clip').item.json['Image URL'] || '') }},\n    \"image_id\": {{ JSON.stringify($('Take 1 Clip').item.json.ID) }},\n    \"reddit_title\": {{ JSON.stringify($('Take 1 Clip').item.json.Title || '') }},\n    \"reddit_sub\": {{ JSON.stringify($('Take 1 Clip').item.json.Subreddit || '') }}\n  }\n}",
                "options": {}
            },
            "id": "img-gh-trigger-001",
            "name": "Trigger GitHub Actions (Image)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                1408,
                624
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "ruHoj9onNX3TBihW",
                    "name": "GitHub"
                }
            }
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $('Take 1 Clip').item.json['Content Type'] }}",
                                        "rightValue": "image",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "952dc022-913a-480c-9b56-eb6a16a4454c"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Image"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "9b022abd-01f8-4f07-af08-3d6bb9a6cb25",
                                        "leftValue": "={{ $('Take 1 Clip').item.json['Content Type'] }}",
                                        "rightValue": "video",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Video"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.4,
            "position": [
                1088,
                720
            ],
            "id": "bd5041f5-d091-43ee-925d-22baf897decd",
            "name": "Switch"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.github.com/repos/VikashMeena777/Test/dispatches",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"event_type\": \"process-video\",\n  \"client_payload\": {\n    \"video_url\": {{ JSON.stringify($('Take 1 Clip').item.json.URL || $('Take 1 Clip').item.json['Video URL']) }},\n    \"reddit_video_url\": {{ JSON.stringify($('Take 1 Clip').item.json['Video URL'] || '') }},\n    \"video_id\": {{ JSON.stringify($('Take 1 Clip').item.json.ID) }},\n    \"reddit_title\": {{ JSON.stringify($('Take 1 Clip').item.json.Title || '') }},\n    \"reddit_sub\": {{ JSON.stringify($('Take 1 Clip').item.json.Subreddit || '') }}\n  }\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                1408,
                816
            ],
            "id": "cb89a645-ebaa-4f9a-b767-972970cc58c0",
            "name": "Trigger GitHub Actions (Video)",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "ruHoj9onNX3TBihW",
                    "name": "GitHub"
                }
            }
        }
    ],
    "connections": {
        "GitHub Actions Callback": {
            "main": [
                [
                    {
                        "node": "Parse Callback",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Pending Clips": {
            "main": [
                [
                    {
                        "node": "Has Pending Clips?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Pending Clips?": {
            "main": [
                [
                    {
                        "node": "Take 1 Clip",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Take 1 Clip": {
            "main": [
                [
                    {
                        "node": "Mark as Processing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mark as Processing": {
            "main": [
                [
                    {
                        "node": "Switch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Callback": {
            "main": [
                [
                    {
                        "node": "Is Ready?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Ready?": {
            "main": [
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Update Sheet (Failed/Skipped)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Sheet (Success)": {
            "main": [
                [
                    {
                        "node": "Add to Publishing Queue",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Add to Publishing Queue": {
            "main": [
                [
                    {
                        "node": "Notify Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Sheet (Failed/Skipped)": {
            "main": [
                [
                    {
                        "node": "Notify Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload file": {
            "main": [
                [
                    {
                        "node": "Update Sheet (Success)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request": {
            "main": [
                [
                    {
                        "node": "Upload file",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Every 30 Minutes": {
            "main": [
                [
                    {
                        "node": "Get Pending Clips",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch": {
            "main": [
                [
                    {
                        "node": "Trigger GitHub Actions (Image)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Trigger GitHub Actions (Video)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "260ed10ca7527eef1744f6416cc66abd26c4fd51c36b77a8b51c7f7491d8e75e"
    }
}