workflows/03-Meme-Publisher.json
{
    "nodes": [
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "1Px2bxsU__jS1518a8gGzrW279i18WtCIHcNXkcFNkKw",
                    "mode": "list",
                    "cachedResultName": "Original Meme Factory",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Px2bxsU__jS1518a8gGzrW279i18WtCIHcNXkcFNkKw/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 919502662,
                    "mode": "list",
                    "cachedResultName": "Publishing Queue",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Px2bxsU__jS1518a8gGzrW279i18WtCIHcNXkcFNkKw/edit#gid=919502662"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Video ID": "={{ $json.name }}",
                        "Status": "Published",
                        "PostedAt": "={{ $now }}"
                    },
                    "matchingColumns": [
                        "Video ID"
                    ],
                    "schema": [
                        {
                            "id": "Video ID",
                            "displayName": "Video ID",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Title",
                            "displayName": "Title",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Download URL",
                            "displayName": "Download URL",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Caption",
                            "displayName": "Caption",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Status",
                            "displayName": "Status",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Instagram Post ID",
                            "displayName": "Instagram Post ID",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "PostedAt",
                            "displayName": "PostedAt",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "row_number",
                            "displayName": "row_number",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true,
                            "readOnly": true,
                            "removed": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "id": "3dd69d5b-01e1-4c35-8593-40fff0ad044b",
            "name": "Mark Published",
            "position": [
                3712,
                1088
            ],
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "1gz3DofInpV64qih",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://graph.facebook.com/v22.0/{{ $json.ig_node }}/media",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "media_type",
                            "value": "=REELS"
                        },
                        {
                            "name": "video_url",
                            "value": "={{ $json.video_url }}"
                        },
                        {
                            "name": "caption",
                            "value": "={{ $json.caption }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1536,
                1040
            ],
            "id": "a7bdc58e-3d6d-4964-8dc1-5725959dfad1",
            "name": "Container HTTP Reels",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "KIe1zzJ5zbQIyJzq",
                    "name": "Meme_Facteory"
                }
            }
        },
        {
            "parameters": {
                "content": "## 🎵 Instagram/Facebook Reels Upload",
                "height": 396,
                "width": 480
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                1232,
                976
            ],
            "id": "2bd8dcf0-9318-47d4-889e-c9f49f6dd79a",
            "name": "Sticky Note3"
        },
        {
            "parameters": {
                "content": "## Variable and Routing Setup",
                "height": 640,
                "width": 712,
                "color": 3
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                416,
                848
            ],
            "id": "b338d567-a876-4328-bdc3-38a7bfc96109",
            "name": "Sticky Note5"
        },
        {
            "parameters": {
                "content": "## 🔄 Container Processing Pipeline\n1. **Create Container** → After Getting Container ID\n2. **Wait & Poll** → Check if container processing is complete  \n3. **Status Check** → Verify FINISHED status before publishing\n4. **Auto-Retry** → If not ready, wait and check again",
                "height": 540,
                "width": 1140,
                "color": 6
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                1824,
                608
            ],
            "id": "44e7acc8-2c5e-45f4-871e-d4bd061d6a1c",
            "name": "Sticky Note6"
        },
        {
            "parameters": {
                "content": "## 📤 Smart Publishing System\nRoute automatically selected based on post_type prefix:\n- http_* → Uses HTTP Request nodes\n- fb_* → Uses Facebook Graph API nodes",
                "height": 796,
                "width": 820,
                "color": 4
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                3056,
                752
            ],
            "id": "f215ed3f-10b4-4870-9529-27bc852cd89f",
            "name": "Sticky Note7"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "682def4c-2cda-4417-9329-682a8a60feed",
                            "leftValue": "={{ $json.status_code }}",
                            "rightValue": "FINISHED",
                            "operator": {
                                "type": "string",
                                "operation": "equals",
                                "name": "filter.operator.equals"
                            }
                        },
                        {
                            "id": "52710de9-e038-414f-a5f6-e8f77dc907dd",
                            "leftValue": "",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "equals",
                                "name": "filter.operator.equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                2560,
                736
            ],
            "id": "1e732fde-7372-4423-b249-a813f1544eba",
            "name": "✅ Is Container Ready?"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "da6bcb63-632a-443a-b5b3-a8b6e1c62871",
                            "leftValue": "={{ $('⚙️ Configure Post Settings').item.json.post_type }}",
                            "rightValue": "http",
                            "operator": {
                                "type": "string",
                                "operation": "equals",
                                "name": "filter.operator.equals"
                            }
                        },
                        {
                            "id": "88805380-1603-45ad-ae8d-75290ba39cbe",
                            "leftValue": "={{ $('⚙️ Configure Post Settings').item.json.post_type }}",
                            "rightValue": "both",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "or"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                3120,
                896
            ],
            "id": "8efbb207-4c3e-444e-a314-bacdfb3b15cd",
            "name": "🔀 HTTP vs FB API Router"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://graph.facebook.com/v22.0/{{ $('🔀 Platform Router').item.json.ig_node }}/media_publish",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "creation_id",
                            "value": "={{ $json.id }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                3344,
                896
            ],
            "id": "33140da5-d370-4b0d-b0e7-90d3986b3663",
            "name": "📤 Publish via HTTP API",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "KIe1zzJ5zbQIyJzq",
                    "name": "Meme_Facteory"
                }
            }
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                2080,
                832
            ],
            "id": "1816ddd4-5a6b-45d7-87f8-4dae8af7ecc3",
            "name": "⏰ Initial Processing Wait",
            "webhookId": "443f84eb-1e9d-4c77-9a9a-c70290333dca"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                2784,
                928
            ],
            "id": "aef52094-44c0-4d67-8f3e-385f66a36667",
            "name": "⏰ Retry Wait Loop",
            "webhookId": "e9ac0c1d-b415-4160-a6b1-908d2310cb23"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "37f96da8-a8b6-417b-b5cf-7a4df5b4610c",
                            "name": "container_id",
                            "value": "={{ $json.id }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1872,
                832
            ],
            "id": "69bdf629-e9d9-4fe5-8421-51341cdca797",
            "name": "🔍 Check Processing Status"
        },
        {
            "parameters": {
                "url": "=https://graph.facebook.com/v22.0/{{ $('🔍 Check Processing Status').item.json.container_id }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpQueryAuth",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "fields",
                            "value": "status_code"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2304,
                832
            ],
            "id": "4b82dff8-dea9-41f9-95bd-d4ccd19b0cdf",
            "name": "🔍 Check Processing Status1",
            "credentials": {
                "httpQueryAuth": {
                    "id": "qs3GkSdpMqxSRHCd",
                    "name": "Meme_Facteory"
                }
            }
        },
        {
            "parameters": {
                "operation": "download",
                "fileId": {
                    "__rl": true,
                    "value": "={{ $json['Download URL'] }}",
                    "mode": "url"
                },
                "options": {
                    "binaryPropertyName": "data"
                }
            },
            "id": "c571b41e-2b24-4335-b4cc-cf4eb8b42c90",
            "name": "Download file",
            "type": "n8n-nodes-base.googleDrive",
            "position": [
                928,
                992
            ],
            "typeVersion": 3,
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "M1byh5wt23HVBgWj",
                    "name": "Pages Reels"
                }
            }
        },
        {
            "parameters": {
                "operation": "move",
                "fileId": {
                    "__rl": true,
                    "value": "={{ $('Get row(s) in sheet').item.json['Download URL'] }}",
                    "mode": "url"
                },
                "driveId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "My Drive"
                },
                "folderId": {
                    "__rl": true,
                    "value": "11bazG7cuBlJNMg1XMJs9_wwxq8Jc2h69",
                    "mode": "list",
                    "cachedResultName": "Posted Reels",
                    "cachedResultUrl": "https://drive.google.com/drive/folders/11bazG7cuBlJNMg1XMJs9_wwxq8Jc2h69"
                }
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                3520,
                1088
            ],
            "id": "f689afb3-98b5-4511-b664-30b0637771e3",
            "name": "Move file",
            "executeOnce": true,
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "M1byh5wt23HVBgWj",
                    "name": "Pages Reels"
                }
            }
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 4-22/4 * * *"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                512,
                992
            ],
            "id": "f5f4bdfe-fc85-4256-9be2-49f7783e92c7",
            "name": "Schedule Trigger",
            "executeOnce": true
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://uguu.se/upload",
                "sendBody": true,
                "contentType": "multipart-form-data",
                "bodyParameters": {
                    "parameters": [
                        {
                            "parameterType": "formBinaryData",
                            "name": "files[]",
                            "inputDataFieldName": "data"
                        }
                    ]
                },
                "options": {
                    "allowUnauthorizedCerts": true,
                    "response": {
                        "response": {
                            "fullResponse": true
                        }
                    }
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                512,
                1248
            ],
            "id": "6759c9c4-80b5-422e-95b1-a40aca7db86b",
            "name": "HTTP Request"
        },
        {
            "parameters": {
                "resource": "video",
                "operation": "upload",
                "title": "={{ $('Download file').item.json.Title }}",
                "regionCode": "IN",
                "categoryId": "24",
                "options": {
                    "description": "={{ $json.caption }}\n\n{{ $json.hashtags }}",
                    "notifySubscribers": true,
                    "privacyStatus": "public"
                }
            },
            "type": "n8n-nodes-base.youTube",
            "typeVersion": 1,
            "position": [
                3344,
                1296
            ],
            "id": "e406bad8-5914-488c-9c41-f390ba205985",
            "name": "Upload a video",
            "credentials": {
                "youTubeOAuth2Api": {
                    "id": "dNXwTShTddpOl4GY",
                    "name": "Meme Facteory"
                }
            }
        },
        {
            "parameters": {
                "url": "={{ $('HTTP Request').item.json.body.files[0].url }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                3120,
                1296
            ],
            "id": "84f8f673-5c08-45b5-bcb2-47ce6d4ec074",
            "name": "HTTP Request1"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "combinator": "or",
                                "conditions": [
                                    {
                                        "id": "25e31619-4116-46e0-bfcb-a8d8a030fa68",
                                        "leftValue": "={{ $json.post_type }}",
                                        "operator": {
                                            "name": "filter.operator.equals",
                                            "operation": "equals",
                                            "type": "string"
                                        },
                                        "rightValue": "instagram"
                                    }
                                ],
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                }
                            },
                            "renameOutput": true,
                            "outputKey": "Instagram Only"
                        },
                        {
                            "conditions": {
                                "combinator": "or",
                                "conditions": [
                                    {
                                        "id": "6b143a67-f906-4f07-a88e-ff1e153cc145",
                                        "leftValue": "={{ $json.post_type }}",
                                        "operator": {
                                            "operation": "equals",
                                            "type": "string"
                                        },
                                        "rightValue": "facebook"
                                    }
                                ],
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                }
                            },
                            "renameOutput": true,
                            "outputKey": "Facebook Only"
                        },
                        {
                            "conditions": {
                                "combinator": "or",
                                "conditions": [
                                    {
                                        "id": "both-condition-001",
                                        "leftValue": "={{ $json.post_type }}",
                                        "operator": {
                                            "operation": "equals",
                                            "type": "string"
                                        },
                                        "rightValue": "both"
                                    }
                                ],
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                }
                            },
                            "renameOutput": true,
                            "outputKey": "Both Platforms"
                        }
                    ]
                },
                "options": {}
            },
            "id": "dabb1404-f95c-4cb8-b7be-03225f97ba59",
            "name": "🔀 Platform Router",
            "position": [
                1280,
                1120
            ],
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "217b69e3-98ec-49a2-8fde-372dd1bc1848",
                            "name": "ig_node",
                            "type": "string",
                            "value": "17841477781953815"
                        },
                        {
                            "id": "fb-page-id-001",
                            "name": "fb_page_id",
                            "type": "string",
                            "value": "917066534831563"
                        },
                        {
                            "id": "2caebe7c-a2d3-428e-b129-fcfbe66854e5",
                            "name": "post_type",
                            "type": "string",
                            "value": "both"
                        },
                        {
                            "id": "6e2c9c54-ce2c-4ea5-8bb2-ae2ae4712427",
                            "name": "caption",
                            "type": "string",
                            "value": "={{ $json.caption }}\n\n{{ $json.hashtags }}"
                        },
                        {
                            "id": "32aa1561-458c-4f64-a854-eab65f9ad1dd",
                            "name": "video_url",
                            "type": "string",
                            "value": "={{ $('HTTP Request').item.json.body.files[0].url }}"
                        },
                        {
                            "id": "img-url-setting-001",
                            "name": "image_url",
                            "type": "string",
                            "value": "={{ $('HTTP Request').item.json.body.files[0].url }}"
                        },
                        {
                            "id": "content-type-setting-001",
                            "name": "content_type",
                            "type": "string",
                            "value": "={{ $('Download file').item.json['Content Type'] || 'video' }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "80a64785-c77d-40d3-a520-00b4b9cb258d",
            "name": "⚙️ Configure Post Settings",
            "position": [
                928,
                1248
            ],
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "is-video-content",
                            "leftValue": "={{ $json.content_type }}",
                            "rightValue": "video",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                1120,
                1248
            ],
            "id": "img-content-type-if-001",
            "name": "📸 Content Type?"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://graph.facebook.com/v22.0/{{ $('⚙️ Configure Post Settings').item.json.ig_node }}/media",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "image_url",
                            "value": "={{ $('⚙️ Configure Post Settings').item.json.image_url }}"
                        },
                        {
                            "name": "caption",
                            "value": "={{ $('⚙️ Configure Post Settings').item.json.caption }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1344,
                1448
            ],
            "id": "img-ig-photo-container-001",
            "name": "📸 IG Photo Container",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "KIe1zzJ5zbQIyJzq",
                    "name": "Meme_Facteory"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://graph.facebook.com/v22.0/{{ $('⚙️ Configure Post Settings').item.json.ig_node }}/media_publish",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "creation_id",
                            "value": "={{ $json.id }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1568,
                1448
            ],
            "id": "img-ig-photo-publish-001",
            "name": "📤 Publish IG Photo",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "KIe1zzJ5zbQIyJzq",
                    "name": "Meme_Facteory"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://graph.facebook.com/v22.0/{{ $('⚙️ Configure Post Settings').item.json.fb_page_id }}/photos",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "url",
                            "value": "={{ $('⚙️ Configure Post Settings').item.json.image_url }}"
                        },
                        {
                            "name": "caption",
                            "value": "={{ $('⚙️ Configure Post Settings').item.json.caption }}"
                        },
                        {
                            "name": "published",
                            "value": "true"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1568,
                1648
            ],
            "id": "img-fb-photo-post-001",
            "name": "📸 FB Photo Post",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "KIe1zzJ5zbQIyJzq",
                    "name": "Meme_Facteory"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://graph.facebook.com/v22.0/{{ $json.fb_page_id }}/video_reels",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "upload_phase",
                            "value": "start"
                        }
                    ]
                },
                "options": {}
            },
            "id": "2949c86e-3d07-4439-94f6-43e1aabba84f",
            "name": "📘 FB Start Upload",
            "position": [
                1536,
                1216
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "credentials": {
                "httpHeaderAuth": {
                    "id": "KIe1zzJ5zbQIyJzq",
                    "name": "Meme_Facteory"
                }
            }
        },
        {
            "parameters": {},
            "id": "b3e7e36c-fc05-4b79-a774-46333b2532aa",
            "name": "⏰ FB Processing Wait",
            "position": [
                2080,
                1504
            ],
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "webhookId": "fb-wait-webhook-001"
        },
        {
            "parameters": {
                "url": "=https://graph.facebook.com/v22.0/{{ $('🔍 Store FB Video ID').item.json.fb_video_id }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpQueryAuth",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "fields",
                            "value": "status"
                        }
                    ]
                },
                "options": {}
            },
            "id": "fb1b8b72-317a-444a-bf08-17587bef2a2c",
            "name": "🔍 Check FB Status",
            "position": [
                2352,
                1328
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "credentials": {
                "httpQueryAuth": {
                    "id": "qs3GkSdpMqxSRHCd",
                    "name": "Meme_Facteory"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "fb-ready-condition",
                            "leftValue": "={{ $json.status.video_status }}",
                            "operator": {
                                "name": "filter.operator.equals",
                                "operation": "equals",
                                "type": "string"
                            },
                            "rightValue": "ready"
                        }
                    ],
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    }
                },
                "options": {}
            },
            "id": "0b0cd38d-e722-4b93-ad12-8689491c2085",
            "name": "✅ FB Video Ready?",
            "position": [
                2592,
                1264
            ],
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2
        },
        {
            "parameters": {},
            "id": "c653a865-8771-429b-a897-688ae8b8f9e2",
            "name": "⏰ FB Retry Wait",
            "position": [
                2816,
                1456
            ],
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "webhookId": "fb-retry-webhook-001"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://graph.facebook.com/v22.0/{{ $('🔍 Store FB Video ID').item.json.fb_video_id }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "is_published",
                            "value": "true"
                        },
                        {
                            "name": "video_state",
                            "value": "PUBLISHED"
                        }
                    ]
                },
                "options": {}
            },
            "id": "8a041af5-021b-4eef-80f4-0241ee392810",
            "name": "📤 Publish to Facebook",
            "position": [
                3232,
                1088
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "credentials": {
                "httpHeaderAuth": {
                    "id": "KIe1zzJ5zbQIyJzq",
                    "name": "Meme_Facteory"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "fb-video-id-001",
                            "name": "fb_video_id",
                            "type": "string",
                            "value": "={{ $json.video_id }}"
                        },
                        {
                            "id": "fb-upload-url-001",
                            "name": "upload_url",
                            "type": "string",
                            "value": "={{ $json.upload_url }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "66c66e84-b089-488e-bf00-9443839832f3",
            "name": "🔍 Store FB Video ID",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1888,
                1280
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $('🔍 Store FB Video ID').item.json.upload_url }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "file_url",
                            "value": "={{ $('⚙️ Configure Post Settings').item.json.video_url }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "12092045-a3b5-41f1-8558-e384aa0a84f2",
            "name": "📤 FB Upload Video",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2080,
                1280
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "KIe1zzJ5zbQIyJzq",
                    "name": "Meme_Facteory"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://graph.facebook.com/v22.0/{{ $('⚙️ Configure Post Settings').item.json.fb_page_id }}/video_reels",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "upload_phase",
                            "value": "finish"
                        },
                        {
                            "name": "video_id",
                            "value": "={{ $('🔍 Store FB Video ID').item.json.fb_video_id }}"
                        },
                        {
                            "name": "video_state",
                            "value": "PUBLISHED"
                        },
                        {
                            "name": "description",
                            "value": "={{ $('⚙️ Configure Post Settings').item.json.caption }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "6565d625-e47f-4e0e-be73-9efedf2efd32",
            "name": "📗 FB Finish Upload",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1888,
                1504
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "KIe1zzJ5zbQIyJzq",
                    "name": "Meme_Facteory"
                }
            }
        },
        {
            "parameters": {
                "content": "## Facebook Posting Process",
                "height": 496,
                "width": 1152
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1824,
                1184
            ],
            "typeVersion": 1,
            "id": "ca4724a9-4abd-49ee-b211-703b6244df82",
            "name": "Sticky Note1"
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1Px2bxsU__jS1518a8gGzrW279i18WtCIHcNXkcFNkKw",
                    "mode": "list",
                    "cachedResultName": "Original Meme Factory",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Px2bxsU__jS1518a8gGzrW279i18WtCIHcNXkcFNkKw/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 919502662,
                    "mode": "list",
                    "cachedResultName": "Publishing Queue",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Px2bxsU__jS1518a8gGzrW279i18WtCIHcNXkcFNkKw/edit#gid=919502662"
                },
                "filtersUI": {
                    "values": [
                        {
                            "lookupColumn": "Status",
                            "lookupValue": "ready"
                        }
                    ]
                },
                "options": {
                    "returnFirstMatch": true
                }
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                720,
                992
            ],
            "id": "8419cc2a-e6b3-416c-b3ce-c35f6ffde983",
            "name": "Get row(s) in sheet",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "1gz3DofInpV64qih",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// 10 Podcast Clip Captions 🎙️🔥\nconst captions = [\n$('Download file').first().json.Caption\n];\n\n// Pick random caption\nconst randomIndex = Math.floor(Math.random() * captions.length);\nconst fullText = captions[randomIndex];\n\n// Extract hashtags\nconst hashtagsMatch = fullText.match(/#[\\w]+/g) || [];\n\n// Remove hashtags from caption\nconst captionText = fullText.replace(/#[\\w]+/g, \"\").trim();\n\nreturn [\n  {\n    json: {\n      caption: captionText,\n      hashtags: hashtagsMatch.join(\" \")\n    }\n  }\n];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                720,
                1248
            ],
            "id": "22c11eb2-5700-4c9d-8d7e-826d6f491aeb",
            "name": "Code in JavaScript"
        }
    ],
    "connections": {
        "Mark Published": {
            "main": [
                []
            ]
        },
        "Container HTTP Reels": {
            "main": [
                [
                    {
                        "node": "🔍 Check Processing Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "✅ Is Container Ready?": {
            "main": [
                [
                    {
                        "node": "🔀 HTTP vs FB API Router",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "⏰ Retry Wait Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🔀 HTTP vs FB API Router": {
            "main": [
                [
                    {
                        "node": "📤 Publish via HTTP API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📤 Publish via HTTP API": {
            "main": [
                [
                    {
                        "node": "Move file",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "⏰ Initial Processing Wait": {
            "main": [
                [
                    {
                        "node": "🔍 Check Processing Status1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "⏰ Retry Wait Loop": {
            "main": [
                [
                    {
                        "node": "🔍 Check Processing Status1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🔍 Check Processing Status": {
            "main": [
                [
                    {
                        "node": "⏰ Initial Processing Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🔍 Check Processing Status1": {
            "main": [
                [
                    {
                        "node": "✅ Is Container Ready?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download file": {
            "main": [
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Move file": {
            "main": [
                [
                    {
                        "node": "Mark Published",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Get row(s) in sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload a video": {
            "main": [
                [
                    {
                        "node": "Move file",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request1": {
            "main": [
                [
                    {
                        "node": "Upload a video",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🔀 Platform Router": {
            "main": [
                [
                    {
                        "node": "Container HTTP Reels",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "📘 FB Start Upload",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Container HTTP Reels",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "📘 FB Start Upload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "⚙️ Configure Post Settings": {
            "main": [
                [
                    {
                        "node": "📸 Content Type?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📸 Content Type?": {
            "main": [
                [
                    {
                        "node": "🔀 Platform Router",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "📸 IG Photo Container",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "📸 FB Photo Post",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📸 IG Photo Container": {
            "main": [
                [
                    {
                        "node": "📤 Publish IG Photo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📤 Publish IG Photo": {
            "main": [
                [
                    {
                        "node": "Move file",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📸 FB Photo Post": {
            "main": [
                [
                    {
                        "node": "Move file",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📘 FB Start Upload": {
            "main": [
                [
                    {
                        "node": "🔍 Store FB Video ID",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "⏰ FB Processing Wait": {
            "main": [
                [
                    {
                        "node": "🔍 Check FB Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🔍 Check FB Status": {
            "main": [
                [
                    {
                        "node": "✅ FB Video Ready?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "✅ FB Video Ready?": {
            "main": [
                [
                    {
                        "node": "📤 Publish to Facebook",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "⏰ FB Retry Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "⏰ FB Retry Wait": {
            "main": [
                [
                    {
                        "node": "🔍 Check FB Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📤 Publish to Facebook": {
            "main": [
                [
                    {
                        "node": "Move file",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🔍 Store FB Video ID": {
            "main": [
                [
                    {
                        "node": "📤 FB Upload Video",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📤 FB Upload Video": {
            "main": [
                [
                    {
                        "node": "📗 FB Finish Upload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📗 FB Finish Upload": {
            "main": [
                [
                    {
                        "node": "⏰ FB Processing Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get row(s) in sheet": {
            "main": [
                [
                    {
                        "node": "Download file",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code in JavaScript": {
            "main": [
                [
                    {
                        "node": "⚙️ Configure Post Settings",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "HTTP Request1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "260ed10ca7527eef1744f6416cc66abd26c4fd51c36b77a8b51c7f7491d8e75e"
    }
}